#app{
    display: flex;
    justify-content: space-around;
}

.banner{
    display: flex;
    justify-content: center;
    margin: 1rem;
}

.leaf{
    color: green;
    background-color: aquamarine;
    border-color: green;
    border-radius: 1rem;
    text-align: center;
}
.electric{
    color: yellow;
    background-color: lemonchiffon;
    border-color: yellow;
    border-radius: 1rem;
    text-align: center;
}
.normal{
    color: gray;
    background-color: silver;
    border-color: gray;
    border-radius: 1rem;
    text-align: center;
}
.fire{
    color: red;
    background-color: coral;
    border-color: red;
    border-radius: 1rem;
    text-align: center;
}

.card-img-top{
    border-style: solid;
    border-color: black;
}